<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Cart</title>
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}
        {% block content %}
            BASE CONTENT
        {% endblock content %}
        <script src="https://unpkg.com/htmx.org@1.6.1" crossorigin defer></script>
        <script src="//unpkg.com/alpinejs" crossorigin defer></script>
    </body>
</html>
